<link rel ="stylesheet" href="w3.css">
<div class="w3-container w3-card-4 w3-green">
  <h1 class=" w3-center">Welcome to the Search</h1>
</div>

<div class=" w3-container w3-green" >
  <h3>Enter a Movie name</h3>

  <form class="w3-container" action="/results" method="GET">
    <input class="w3-input" type="text" name="search" placeholder="Movie name">
    <input class="w3-input" type="submit">
  </form>
</div>
